#Роботс
/robots*.txt
/.bash_history

#Google AUTH files
/*.html
/.well-known

#Админка
/admin/config*.php

#Основные конфиги
/config*.php
/config.parts/*
/system/config/*
/system/config
/system/*.json
/system/config.parts/*

#Фиды и сайтмапы
/feeds/*
/sitemaps/*

#Картинки и кеш
/image/*
/image.*/*
/img/*
/img.*/*
/instruction/
/instruction/*

#Статика минификатора
/min/
/dls/
/dls-data/
/rest-api/queue/*

#Кэш системного пользователя
/.cache/

#Composer
/vendor/

#JSON logs
/catalog/*.json
/catalog/bugjson

#Всякая системная шляпа
/system/cache
/system/storage
/system/temp
/system/cache_mfp
/system/csvprice_pro
/system/logs
/system/temp
/system/pids

/rest-api/orders/*
/rest-api/queue/*

#Директории IDE
.idea