Options +FollowSymlinks
Options -Indexes

#REMOVE WWW
RewriteCond %{HTTP_HOST} ^www.(.+)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#REMOVE IMG FOR NON-STATIC
RewriteCond %{HTTP_HOST} ^img0.(.+)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#REMOVE IMG FOR NON-STATIC
RewriteCond %{HTTP_HOST} ^img1.(.+)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

#REMOVE IMG FOR NON-STATIC
RewriteCond %{HTTP_HOST} ^img.(.+)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

<FilesMatch "(?i)((\.tpl|\.ini|\.log|(?<!robots)\.txt))">
Order deny,allow
Deny from all
</FilesMatch>

RewriteEngine On

RewriteCond %{SERVER_PORT} !^443$
RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]



RewriteCond %{THE_REQUEST} //
# Проверяем, повторяется ли слеш (//) более двух раз.
RewriteRule .* /$0 [R=301,L]
# Исключаем все лишние слеши.


RewriteBase /
RewriteRule ^system/download/(.*) index.php?route=error/not_found [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]
