body{
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 14px;
	background-color: black;
}

.container-fluid{
	background-color: white;
}

.block1_500{
	text-align: center;
}

.block1_500 img{
    max-width: 300px;
	width: 100%;
    padding: 25px 0;
}

.block2_500{
	color: white;
	padding: 40px 0;
	text-align: center;
}

.error_text_500{
	text-transform: uppercase;
    font-size: 50px;
}

.error_500{
	font-size: 150px;
	line-height: 1.2;
}

.error_coupon{
	font-size: 18px;
}

.error_coupon span{
    border: 1px solid white;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

.error_star{
	border-top: 1px solid #7a7979;
    color: #7a7979;
	display: inline-block;
    margin: 70px auto 0;
	padding-top: 5px;
}